<div class="card bg-light">
  <img src="http://via.placeholder.com/350x250" alt="" class="card-img-top" />
  <div class="card-block">
    <h6 class="card-subtitle">
      Whole {{ rentalData.category }} &#183; New York
    </h6>
    <h4 class="card-title">
      {{ rentalData.title }}
    </h4>
    <p class="card-text">
      ${{ rentalData.dailyRate }} per night &#183; Free Cancellation
    </p>
  </div>
  <div class="card-footer text-center bg-info">
    <a href="#" class="btn stretched-link">More Information</a>
  </div>
</div>
