#rentalListing {
  .title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  .card {
    border: none;
    width: 280px;
    margin-bottom: 20px;

    .card-block {
      padding-top: 20px;
      background: grey;
      padding: 5px;
      .card-subtitle {
        margin: 0;
        font-size: 12;
        color: greenyellow;
        text-transform: uppercase;
      }
      .card-subtitle {
        font-size: 20;
        margin: 8px 0;
      }
      .card-text {
        font-size: 14;
        margin-bottom: 0;
        color: #e7e7e7;
      }
      .card-link {
        font-size: 20px;
        font-weight: 700;
        padding: 0;
      }
    }
  }
}
